.main-header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding-left: 1em;
    background: #757575;
    &__a1 {
        color: white;
    }
    &__items {
        &__1 {
            padding-left: 2em;
            padding-right: 2em;
            color: white;
        }
        &__2  {
            padding-left: 2em;
            padding-right: 2em;
            color: white;
        }
    }
}