// Init Foundation
//archivo de confguracion scss
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|KoHo|Lato|Ubuntu|Material+Icons');
// tipo de letra
$pi-ff-1: 'Lato', sans-serif;
$pi-ff-2: 'KoHo', sans-serif;
$pi-ff-3: 'Great Vibes', cursive;
$pi-ff-4: 'Work Sans', serif;
$pi-ff-5: 'Ubuntu', sans-serif;

// colors
$pi-color1: #424242;
$pi-color2: #212121;
$pi-color3: #01579B;

//funciones

//funcion para devover imgen
@function img($img) {
  @return url('../img/#{$img}');
}

//funcion para responsive web desing
//para llamar al mixin utilizar @include
@mixin desde($size) {
  @media screen and (min-width: $size){
    @content;
  }
}

@mixin hasta($size) {
  @media screen and (max-width:$size){
    @content;
  }
}

@mixin desde_hasta($desde,$hasta) {
  @media screen and (min-width: $desde) and (max-width: $hasta){
    @content;
  }
}