<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
// import Lista from './components/Lista.vue'
// import Cuadro from './components/Cuadro.vue'

export default {
  name: 'app',
  data () {
    return {
      showLista: true
    }
  },
  components: {
    // Cuadro
  }
}
</script>

<style lang="scss" src="./scss/styles.scss">
</style>
