.acard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid green;
    margin: 10px;
    padding: 10px;
    &__i {
        &__title {
            font-size: 16px;
            font-weight: bold;
        }
        &__text {
            font-size: 12px;
        }
        &__date {
            color: gray;
        }
    }
    &__d {
        &__link {
            padding: 7px 2em 7px 2em;
            background: green;
            color: white;
        }
    }
}