.lcard {
    border: 1px solid grey;
    margin-bottom: 10px;
    text-align: center;
    &__img {
        width: 100%;
        height: 150px;
    }
    &__a {
        font-size: 16px;
    }
}