.lcard2 {
    margin-bottom: 10px;
    border: 1px solid goldenrod;
    &:hover {
        opacity: 0.6;
    }
    &__img {
        width: 100%;
        height: 150px;
    }
    &__a {
        font-size: 16px;
    }
}