<template>
  <div class="grid-x grid-margin-x">
    <h3 class="cell">Libros de esta semana</h3>
    <div class="cell large-3" v-for="l in listaLibros" :key="l.id">
      <div class="lcard">
        <img class="lcard__img" src="https://ep01.epimg.net/cultura/imagenes/2018/08/15/babelia/1534351691_997591_1534352892_noticia_normal.jpg" alt="">
        <a href="#" class="lcard__a">{{ l.titulo }}</a>
      </div>
    </div>
  </div>

</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'

Vue.use(VueAxios, axios)

export default {
    name: 'LibrosSemana',
    data () {
      return {
        listaLibros: []
      }
    },
    methods: {
      cargarLibros: function () {
        this.axios.get('http://127.0.0.1:8000/libros/leidos-semana/').then((response) => {
          // eslint-disable-next-line
          console.log(response.data)
          this.listaLibros = response.data
        })
      }
    },
    beforeMount () {
      this.cargarLibros()
    }
}
</script>