<template>
  <div class="grid-x grid-margin-x">
    <h3 class="cell">Libros de esta semana</h3>
    <div class="cell large-3" v-for="n in 8" :key="n">
      <div class="lcard2">
        <img class="lcard2__img" src="https://ep01.epimg.net/cultura/imagenes/2018/08/15/babelia/1534351691_997591_1534352892_noticia_normal.jpg" alt="">
        <a href="#" class="lcard2__a">Nombre del Libro</a>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'LibrosLeidos'
}
</script>