<template>
<div>
  <ListaActividades></ListaActividades>
</div>
</template>

<script>
import ListaActividades from '@/components/actividades/ListaActividades'

export default {
  name: 'Actividades',
  components: {
    ListaActividades
  }
}
</script>