<template>
  <div>
    <!-- aqui debe importar todo los componentes que conformen la pantalla para esta vista -->
    <ListaAutores></ListaAutores>
  </div>
</template>

<script>
import ListaAutores from '@/components/autores/ListaAutores'

export default {
  name: 'Autores',
  components: {
    ListaAutores
  }
}
</script>