<template>
  <div>
    <LibrosSemana></LibrosSemana>
    <LibrosLeidos></LibrosLeidos>
  </div>
</template>

<script>
import LibrosSemana from '@/components/libros/LibrosSemana'
import LibrosLeidos from '@/components/libros/LibrosLeidos'

export default {
  name: 'Home',
  components: {
    LibrosSemana,
    LibrosLeidos
  }
}
</script>