<template>
  <div>
    <MainHeader></MainHeader>
    <div class="grid-container">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
// importamos el header principal
import MainHeader from '@/components/conmon/MainHeader'

export default {
  name: 'Index',
  components: {
    MainHeader
  }
}
</script>