<template>
  <RegistrarParticipacion></RegistrarParticipacion>
</template>

<script>
import RegistrarParticipacion from '@/components/participantes/RegistrarParticipacion'
export default {
  name: 'Participar',
  components: {
    RegistrarParticipacion
  }
}
</script>