<template>
  <div class="grid-x align-center">
    <div class="cell large-5 card">
      <h3>Registrar Participacion</h3>
      <div>
        <input type="text" placeholder="E-mail">
        <input type="text" placeholder="Phone">
        <input type="text" placeholder="Full Name">
        <button type="submit">Participar</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'RegistrarParticipacion'
}
</script>

<style>

</style>