<template>
  <div class="grid-x">
    <div class="cell" style="margin-top: 1em;">
      <input type="text" name="" placeholder="buscar...">
    </div>
    <h3 class="cell">Lista de Autores</h3>
    <div class="cell">
      <table>
        <thead>
          <th>Nombres</th>
          <th>Nacionalidad</th>
          <th>Seudonimo</th>
          <th>Libros</th>
        </thead>
        <tbody>
          <tr v-for="n in 10" :key="n">
            <td>Juan</td>
            <td>Perú</td>
            <td>Escribirdor</td>
            <td>5</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
export default {
  name: 'ListaAutores',
  data () {
    return {
      buscador: ''
    }
  },
  watch: {
    buscador: function (val) {
      // llamamos al metodo buscar
    }
  },
  methods: {

  }
}
</script>