<template>
  <div class="grid-x">
    <div class="cell" v-for="n in 5" :key="n">
      <div class="acard">
        <div class="acard__i">
          <h3 class="acard__i__title">Lectura de Rayuela</h3>
          <p class="acard__i__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi iusto tempore quas dicta! Eveniet und</p>
          <p class="acard__i__date">28 de agosto - 2019</p>
        </div>
        <div class="acard__d">
          <router-link :to="{ name: 'participar'}" class="acard__d__link">Participar</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ListaActividades'
}
</script>

<style>

</style>