<template>
    <div class="cuadro">

    </div>
</template>
<script>
export default {
    name: 'Cuadro'
}
</script>
<style lang="scss">
.cuadro {
    width: 100px;
    height: 100px;
    border: solid;
}
</style>