<template>
<div class="prueba">
  <h1 class="b-h1">TRBAJANDO EN VUE.JS</h1>
  <h4 class="prueba__h5">Declarado de variables:</h4>
  <p>
    {{ msj }}
  </p>
  <h4>Bindeo de variables:</h4>
  <input type="text" placeholder="hola mundo" v-model="txt">
  <p>texto: {{txt}}</p>
  <h5>Condicionales en el renderizado</h5>
  <button v-if="show" type="button">UNO</button>
  <button v-else type="button">DOS</button>
  <h5> Eventos en vuejs: </h5>
  <button @click="show=!show">Alter</button>
  <h5>Estructuras repetitivas:</h5>
  <ul>
    <li v-for="f in frutas" :key="f">
      {{ f }}
    </li>
  </ul>
  <h5>Llamando a metodos:</h5>
  <div>
    <input type="text" placeholder="ingrese fruta" v-model="newFruta" >
    <button @click="agregarFruta()">Agregar</button>
  </div>
  <h6>propiedad computada</h6>
  <input type="text" v-model="num1">
  <input type="text" v-model="num2">
  <p>{{resultado}}</p>
  <!-- probando foundation -->
  <h1> prueba de foundation </h1>
  <div class="grid-x">
    <div class="cell small-8 large-4" style="border: solid;">
      primera mitad
    </div>
    <div class="cell  small-4 large-4" style="border: solid;">
      sgunda mitad
    </div>
    <div class="cell large-4" style="border: solid;">
      sgunda mitad
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'prueba',
  data () {
    return {
      msj: 'Hola mundo',
      txt: '',
      show: true,
      frutas: [
        'Manzanas',
        'duraznos',
        'platanos',
        'naranjas'
      ],
      newFruta: '',
      num1: '',
      num2: ''
    }
  },
  watch: {
    newFruta: function (val) {
      // se puede llamar a un metodo
      this.console.log(val)
    }
  },
  computed: {
    resultado: function () {
      return this.num1 + this.num2
    }
  },
  methods: {
    agregarFruta: function () {
      this.frutas.push(this.newFruta)
    }
  }
}
</script>

<style lang="scss">
.prueba {
  padding: 4em;
}
.prueba__h1 {
    color: aqua;
}
.prueba__h5 {
    color: red;
}

</style>


