<template>
  <div class="main-header">
    <a href="/" class="main-header__a1">Circulo de Lectores</a>
    <div class="main-header__items">
      <router-link :to="{ name: 'autores'}" class="main-header__items__1">Autores</router-link>
      <router-link :to="{ name: 'actividades'}" class="main-header__items__2">Actividades</router-link>
    </div>
  </div>
</template>
<script>
export default {
  name: 'MainHeader'
}
</script>